<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="level">
            <div class="level-left">
                <h2 class="subtitle is-3">
                    Lista de tareas
                </h2>
            </div>
            <div class="level-right">
                <a class="button is-info" [routerLink]="['./new']">Nueva Tarea</a>
            </div>
        </div>


        <table class="table is-striped is-hoverable is-bordered is-fullwidth">
            <thead>
                <th *ngFor="let title of titlesTable">
                    {{ title }}
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks; let idx = index;">
                    <td class="has-text-grey">{{ idx + 1 }}</td>
                    <td class="has-text-grey">{{ task.title }}</td>
                    <td class="has-text-grey">{{ task.description }}</td>
                    <td class="has-text-grey">{{ task.status }}</td>
                    <td [class]="task.stock === 0 ? 'has-text-danger' : 'has-text-grey'">
                        {{ task.userId }}
                    </td>
                    <td>
                        <a class="button is-small is-danger" (click)="onDeleteTask(task, $event)">
                            Eliminar
                        </a>
                        <a class="button is-small is-info" [routerLink]="['./', task.id]">
                            Editar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>